.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.welcome-message > img {
  width: 500px;
  font-size: 30px;
  margin-top: 0;
  text-align: center;
}

.welcome-message > p {
  width: 350px;
  font-size: 16px;
  color: var(--text1);
  text-align: center;
}

@media screen and (max-width: 500px) {
  .welcome-message {
    gap: 20px;
  }

  .welcome-message > p {
    width: 300px;
    font-size: 14px;
    color: var(--text1);
  }

  .welcome-message > img {
    width: 350px;
  }
}
